body {
  color: #1E1E1E;
  background-color: #F4F4F9;
  position: relative;
  height: 100vh;
  width: 100%;
}

header {
  font-family: "Winky Rough",
    sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;

}

.box-bg {
  background: #FFFFFF;
}

.phonetic {
  color: #4A90E2;
}

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.part-of-speech {
  font-weight: 300;

}

.definition {
  font-weight: 500;
  font-size: 18px;
}